.container {
  position: relative;
  width: 100%;
  /* height: calc(42vw + 25px); */
  height: 600px;
  /* margin: 0; */
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .container {
    height: 600px;
  }
}

@media only screen and (max-width: 990px) {
  .container {
    height: 700px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    height: 600px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    height: 120vw;
  }
}
